.HomeMainContainer {
  background-image: linear-gradient(to top left, #0d4c7f, #43aed4);
  width: 100%;
  height: 99.9vh;
  padding-top: 7rem;
  background-color: #105284;
}
.HomeBodyConatiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HomeContainerTitleandSubTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.HomeContainerTitleandSubTitle h1 {
  font-size: 2.6rem;
  color: white;
  padding-bottom: 1rem;
}

.HomeContainerTitleandSubTitle p {
  font-size: 1.5rem;
  color: white;
  padding-bottom: 3rem;
}

.HomeContainerAppandPlaytoreImage {
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
}
.bitCointBackgroundImageContainer {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 3;
  left: 50px;
  top: 160px;
}
.CryptoComputerContainentImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.CryptosiderImage img {
  z-index: 1;
  width: 100%;
  height: 180px;
  margin-top: 453px;
}
.cryptomackbookandcontainentImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -220px;
}

.MackbookandContainentImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cryptomackbookImageFirstImage {
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 60%;
}
.cryptContainentImageSecond {
  position: absolute;
  z-index: 2;
  width: 32.5%;
  height: 40%;
  margin-top: -8rem;
}
