.ourAppContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
  align-items: center;
}
.ourAppTitleandSubTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.ourAppTitleandSubTitleContainer h1 {
  color: #053d72;
}
.ourAppTitleandSubTitleContainer p {
  font-size: 1.5rem;
  color: #63739a;
}

.ourCardmainContainer {
  margin-top: 5rem;
}
.featuresContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.featureItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 22%;
  padding: 1rem;
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

.imgContainer {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  color: #00c6cf;
  z-index: 1;
}

.textContainer {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.textContainer h3 {
  color: #053d72;
  font-size: 1.37rem;
  margin-bottom: 1rem;
  /* padding-bottom: 2rem; */
}
.textContainer p {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.dividermainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65%;
  background-color: lightgray;
  margin-top: 3rem;
  margin-bottom: 6rem;
  height: 0.2rem;
}
.divider {
  width: 33%;
  height: 0.2rem;
  background-color: #00c6cf;
}
